.cart {
   min-width: 200px;
   width: 500px;
   min-height: 500px;
   background-color: #eee;
   color: #333;
   margin: 3rem 1rem;
   padding: 1rem;
}

.cart .cart-body {
   height: 300px;
   width: 99%;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.cart .cart-body .cart-item {
   display: flex;
   width: 95%;
   height: 20%;
   margin: 5px 0;
   padding: 13px 0;
   border-bottom: 1px solid #999;
   justify-content: flex-start;
   gap: 5px;
   align-items: center;
}

.cart .cart-body .cart-item > img {
   width: 70px;
   border-radius: 50%;
   border: 1px solid #ccc;
   background-color: #eee;
   background-blend-mode: multiply;
}

.cart .cart-body .cart-item .cart-item-info {
   flex: 2;
}
.cart .cart-body .cart-item .cart-item-info .item-name {
   font-weight: bold;
}
.cart .cart-body .cart-item .cart-item-info .cart-quantity {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 5px 10px;
}
.cart .cart-body .cart-item .cart-item-info .cart-quantity button {
   cursor: pointer;
   font-weight: bold;
   font-size: 1rem;
   color: #444;
   border-radius: 50%;
   padding: auto;
   border: 1px solid #999;
   transform: scale(1);
   transition: 0.3;
}
.cart .cart-body .cart-item .cart-item-info .cart-quantity button:active {
   transform: scale(0.95);
}
.cart .cart-body .cart-item .price {
   font-weight: bold;
   min-width: 45px;
   text-align: center;
   align-self: flex-start;
   padding-top: 5px;
}
.cart .cart-body .cart-item .cart-remove-btn {
   font-weight: bold;
   border: none;
   color: red;
   cursor: pointer;
   font-size: 1.1rem;
}

.cart .cart-footer {
   padding: 10px 20px;
   text-align: right;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   gap: 10px;
}
.cart .cart-footer > div > label {
   display: block;
   font-weight: bold;
   color: #777;
}
.cart .cart-footer > div > bdi {
   display: block;
   font-weight: bold;
}
